<section id="contact">
	<h2>Contact</h2>
	<p>X(Twitter)：<a href="https://x.com/naru_dev">https://x.com/naru_dev</a></p>
	<p>GitHub：<a href="https://github.com/naru_dev">https://github.com/naru_dev</a></p>
	<p>Email：<a href="mailto:narudev4@gmail.com">narudev4@gmail.com</a></p>
</section>