---
import { getCollection } from "astro:content";

const projects = await getCollection("projects", ({ data }) => {
  return data.draft !== true && data.featured === true;
});

// 日付で降順ソート
const featuredProjects = projects.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<section id="projects" class="snap">
  <h2>Projects</h2>

  {featuredProjects.map((project) => (
    <article>
      <h3>
        <a href={`/projects/${project.slug}`}>{project.data.title}</a>
      </h3>
      <p>{project.data.summary}</p>
    </article>
  ))}

  <p><a href="/projects">プロジェクト一覧を見る</a></p>
</section>
