<section id="top" class="snap">
  <div class="inner">
    <h1>NARU HOSOYA</h1>
    <div class="cta">
      <a class="btn primary" href="#projects">Projects</a>
    </div>
    <a class="btn ghost" href="#about">↓ Scroll</a>
    <div class="description">
      <p>こんにちは、私は細谷成です。ソフトウェアエンジニアを目指しています。</p>
    </div>
  </div>
</section>
